.login{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    padding-left: 100px;
}

.register{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
    padding-left: 100px;
}

.addNewItem{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    padding-left: 100px;
}

.addedNewItem{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1000px;
    height: 500px;
    padding-left: 100px;
}